<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="dashboard"></span>
      Dashboard
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="inner-content">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <nz-spin nzTip="Loading..." [nzSpinning]="loadingTotalUsers">
            <div echarts [options]="totalUserPieChartOption" (chartInit)="onTotalUsersChartInit($event)"
              style="height: 320px;">
            </div>
          </nz-spin>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-card>
          <nz-spin nzTip="Loading..." [nzSpinning]="loadingLastSending">
            <div echarts [options]="lastSendingLineChartOption" (chartInit)="onLastSendingChartInit($event)"
              style="height: 320px;">
            </div>
          </nz-spin>

        </nz-card>
      </div>
    </div>

    <br>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-table #hospitalSendTable nzBordered nzSize="small" nzTitle="ประวัติการส่งข้อมูลล่าสุด"
          [nzData]="historyDataSet" [nzPageSize]="5" [nzLoading]="loadingLastSend">
          <thead>
            <tr>
              <th>หน่วยบริการ</th>
              <th>เวลา</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of hospitalSendTable.data">
              <td>{{data.hospcode}} {{data.hospname}}</td>
              <td>{{data.last_update}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-table #notSendData nzBordered nzSize="small" nzTitle="หน่วยบริการที่ไม่ส่งข้อมูล"
          [nzData]="hospitalNotSendDataSet" [nzPageSize]="5" [nzLoading]="loadingDoNotSend">
          <thead>
            <tr>
              <th>หน่วยบริการ</th>
              <th>ส่งล่าสุด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of notSendData.data">
              <td>{{data.hospcode}} {{data.hospname}}</td>
              <td>{{data.last_update}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

  </div>
</nz-content>